
<section id="services">
  <div class="container">
      <h1 class="text-center">Education</h1>
      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class="fas servicesIcon fa-clock"></i>
                      <h4 class="text-center">Elementary</h4>
                      <p class="text-center">Porac Central, Porac Pampanga
                      </p>
                      <p class="text-center">2008 - 2014
                      </p>
                      <p class="text-center">2nd Honorable
                      </p>
                  </div>
              </div>  
          </div>
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i class='fas servicesIcon fa-layer-group'></i>
                      <h4 class="text-center">Junior High School</h4>
                      <p class="text-center">Pulung Santol National High School
                      </p>
                      <p class="text-center">2014 - 2018
                      </p>
                      <p class="text-center">With Honors
                      </p>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='fas servicesIcon fa-layer-group'></i>
                      <h4 class="text-center">Senior High School</h4>
                      <p class="text-center">Pulung Santol National High School
                      </p>
                      <p class="text-center">2018 - 2020
                      </p>
                      <p class="text-center">With Honors
                      </p>
                  </div>
              </div>  
          </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mt-4">
          <div class="card servicesText">
              <div class="card-body">
                  <i class='fas servicesIcon fa-layer-group'></i>
                      <h4 class="text-center">College</h4>
                      <p class="text-center">Holy Angel University, Angeles City
                      </p>
                      <p class="text-center">2020 - Present
                      </p>
                      <p class="text-center">Dean's Lister
                      </p>
                  </div>
              </div>  
          </div>
      </div>
  </div>
</section>
<br>
<hr>
<br>